.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

img.rong100{
  width:100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav-link.active{
  background-color:#61dafb;
  color: black;
  
}

h5.cartitle,.textTitle, .card-title,.card-text{
  color: black;
  text-decoration: none;
}
.card {
  text-decoration: none;
}
.trichdan{
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  -webkit-line-clamp: 3;
  height: 75px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.hinhanh{
  height:200px;
}
#container {
  position: relative;
}
#copyright {
  position: absolute;
  bottom: 0;
}
#mainNav{
  background-color:#F00; /*whichever you want*/
  opacity: 0.6; 
  filter:(opacity=50);  
}
.tieude{
  font-size:30px;
}